// Sass will let you nest your CSS selectors in a way that follows
//the same visual hierarchy of your HTML
.menu-bar {
    border-radius: 20px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(224, 215, 215, 0.219);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 15px 0 0 300px;
    li {
        list-style: none;
        font-family: sans-serif;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
    }
}

.navbar{
    color:rgb(0, 0, 0);
    text-decoration: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
        border-radius: 25px;
    }
    &:hover {
        &::before {
            background: linear-gradient(to bottom, #ff0d0d, #e63030d2);
            box-shadow: 0px 3px 20px 0px black;
            transform: scale(1);
        }
        color: rgb(251, 245, 245);
    }
}

.welcome {
    list-style: none;
}

.loginSignup {
    border-radius: 20px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(224, 215, 215, 0.342);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 15px 0 0 70rem;
    .navbar {
        list-style: none;
        font-family: sans-serif;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: 0.2s;
            border-radius: 25px;
        }
        &:hover {
            &::before {
                background: linear-gradient(to bottom, #d3d3d3, #f61313);
                box-shadow: 0px 3px 20px 0px black;
                transform: scale(1.2);
            }
            color: black;
        }
    }
}

.logo{
border: rgba(255, 0, 0, 0.959) solid;
}