#signup-page {
  background-color: cadetblue;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.label{
  margin-right: .5rem;
  display: flex;
  align-items: center;
}

.button{
  margin-right: .5rem;
  display: flex;
}

.inputContainer {
  /* margin-bottom: 1rem; */
}
