.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: 40rem;
}

.label{
  margin-right: .5rem;
  display: flex;
  align-items: center;
}
.button{
  margin-right: .5rem;
  display: flex;
}

.inputContainer {
  margin-bottom: 1rem;
}
