.leftcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 100px 0px;
}


.container{
  color: rgb(211, 0, 0);
  background-color: rgba(20, 2, 2, 0);
}

/* .leftcontainer{
position:relative;
bottom:22rem;
margin-left: 90px;
z-index: -1;
} */

/* .signup{
  margin-left: 70rem;
} */

/* .bubble {
  color: red;
  border-radius: 50%;
  height: 100px;
  width: 200px;
  border: 3px solid rgba(255, 255, 255, 0.397);
  background: rgb(255, 255, 255);
  position: relative;
  left: 30rem;
  bottom: 5rem;
} */

/* .bubble::after{
  content: " ";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -2px;
  left: -30px;
  border-radius: 50px;
  border-bottom: 8px solid rgb(255, 252, 252);
  transform: rotate(-55deg);
} */

/* .bubble{
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */